<header class="header animate__fadeInUp" id="headerMedia">
    <div class="header2" id="header2Media">
        <div *ngIf="activar">
            <ul [class]="claseLinks" id="linksMobile">
                <button (click)="cerrar()"> <i class="fas fa-times"></i></button>
                <li><a routerLink="/home" fragmente="headerMedia">HOME</a></li>
                <li><a routerLink="/about" fragmente="headerMedia">ABOUT</a></li>
                <li><a routerLink="/work" fragmente="headerMedia">WORK</a></li>
                <li><a routerLink="/contact" fragmente="headerMedia">CONTACT</a></li>
            </ul>
        </div>
        <div class="container" id="containerMedia">
            <nav class="navegador" id="navegadorMedia">
                <div class="logoo">
                    <img src="../../../assets/logoAndresBonilla.png" alt="logo">
                </div>
                <button (click)="abrir()"><i class="fas fa-bars"></i></button>
                <ul class="links" id="linksMedia">
                    <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
                    <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
                    <li><a routerLink="/work" routerLinkActive="active">WORK</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
                </ul>
            </nav>
            <div class="titlePrincipal animate__fadeInUp" id="titlePrincipalMedia">
                <h1>Contact me</h1>

            </div>
        </div>
    </div>
</header>

<main>

    <div class="contactSeccion" id="contactTextoMedia">
        <div id="containerMedia">
            <h3>andresbonilla1256@gmail.com</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis atque saepe dolor facere optio, ipsam voluptates mollitia. Eaque vero in perferendis odio consequuntur voluptatibus officia sed. Facere, maxime odit? Nisi.
            </p>
            <a href="#" target="_blank"><i class="fab fa-instagram-square instaIcon"></i></a>
            <a href="" target="_blank"><i class="fab fa-facebook-square facebookIcon"></i></a>
            <a href="#" target="_blank"> <i class="fab fa-github-square gitHubIcon"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-square linkedIcon"></i></a>

        </div>
    </div>


</main>

<footer class="footer" id="footerMedia">
    <p>© Andres Bonilla</p>
</footer>