@media (max-width:440px) {
    #containerMedia {
        width: 92%;
        margin: 0 auto;
        overflow: hidden;
    }
    #headerMedia {
        background-image: url(../../../assets/part1Mobile.PNG);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }
    #header2Media {
        background-image: url(../../../assets/fondoAboutMeMobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    #linksMobile {
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #3385FF;
        text-align: center;
        padding: 8rem 2rem 2rem 2rem;
    }
    #linksMobile li {
        margin-top: 3rem;
        list-style: none;
    }
    #linksMobile li a {
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
    }
    #linksMobile i {
        font-size: 1.5rem;
        color: white;
    }
    #linksMobile button {
        font-size: 1.5rem;
        color: white;
        background: none;
        border: none;
    }
    #titlePrincipalMedia {
        margin-top: 0;
    }
    #titlePrincipalMedia h1 {
        font-size: 2rem;
    }
    #linksMedia {
        display: none;
    }
    #navegadorMedia {
        display: flex;
        justify-content: space-between;
    }
    #navegadorMedia i {
        display: block;
        color: #3385FF;
        font-size: 2.5rem;
    }
    #fondoAzulAboutMedia {
        display: flex;
        flex-direction: column;
    }
    #navegadorMedia button {
        display: block;
        border: none;
        background-color: transparent;
    }
}

.header2 {
    background-image: url(../../../assets/fondoAboutMe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  
}

.container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    background-image: url(../../../assets/part1.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.logoo img {
    width: 100%;
    min-width: 3rem;
    max-width: 4rem;
}

.links {
    display: flex;
    margin-left: 5rem;
}

.links i {
    display: none;
}

.links li {
    list-style: none;
    margin-left: 1.8rem;
    color: #3385FF;
}

.links li a {
    text-decoration: none;
    color: #3385FF;
}

.links li a.active {
    text-decoration: line-through;
    color: #3385FF;
}

.links li a:hover {
    text-decoration: line-through;
    color: #3385FF;
}

.links li:last-of-type {
    list-style: none;
    color: #3385FF;
}

.titlePrincipal {
    margin-top: 15rem;
}

.titlePrincipal h1 {
    font-size: 3.2rem;
    color: #3385FF;
}

.titlePrincipal h3 {
    font-size: 1.6rem;
}

.active {
    color: #2A46FF;
    text-decoration: line-through;
}

.navegador {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0;   
    position: fixed !important;
    top: 0 !important;
    right: 0 !important; 
    width: 95% !important;
    margin-right: 30px;
}

.navegador button {
    display: none;
}

.fondoAzulAbout {
    background-color: #3385FF;
    color: white;
    display: flex;
    padding: 2rem;
}

.fondoAzulAbout img {
    width: 100%;
}

.MyEscrito p {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.aboutSeccionMe {
    display: flex;
    padding: 2rem 0;
}

.footer {
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: #3385FF;
}

.animate__fadeInUp {
    animation-duration: 1.8s;
}

.animate__fadeInDown {
    animation-duration: 1.8s;
}

.animate__fadeOutUp {
    animation-duration: 1.8s;
}